<template>
    <div class="InternCompaniesListContainer">
        <div class="CompanyInfo">
            <img src="">
            <p>Frex</p>
            <p>Company ID: 1234</p>
            <p>Field: </p>
        </div>
        <div class="InfoText">
            <h2>Internship position</h2>
            <p>Lorem ipsum</p>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Rate</button>
            <div class="dropdown-content">
                <a href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
            </div>
        </div>
    </div>
    
</template>



<script>
export default { 
    name: 'InternCompaniesListComp'
    
}
</script>


<style>

.InternCompaniesListContainer {
    display: grid;
    grid-template-columns: 5fr 10fr 1fr;
    grid-template-rows: 5em 5em 5em;
    background-color: grey;
    padding: 10px;
    max-width: 60%;
}

.CompanyInfo p {
    font-weight: bold;    
}



/* Dropdown button code taken from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_js_dropdown_hover and improved to fit our buil

*************************************
DROPDOWN BUTTON CSS CODE STARTS HERE
*************************************
*/
.dropbtn {
  background-color: #00509e;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
    grid-row: 2; 
    grid-column: 3;    

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #253a55;}

/* ***DROPDOWN CSS CODE ENDS HERE*** */
</style>