<template>
<div >
    <div id="company">
        <img src="./assets/logo.png" alt="companyPic">
        <p>Name</p>
        <p>Employee</p>
        <p>Position</p>
    </div>

    <div id="student">
        <img src="" alt="">
        <p>Name</p>
        <p>Student ID</p>
        <p>Study Program</p>
        <p>Displine</p>
        <p>Year</p>
    </div>

    <div id="admin">
        <p>Name</p>
        <p>Employee ID</p>
        <p>Position</p>

    </div>
    <button>Bacholar Assignment</button>
    <button>Intership Positions</button>
    <button>Inbox</button>
    

    <button id="adminButton">Arkiv</button>

</div>

    
</template>



<script>
export default { 
    name:"info",
    data(){
        return{
            info:{
                fName:"",
                lName:"",
                employeeId:"",
                posistion:"",

            }
        }
    }

    
}
</script>


<style scoped>

</style>