<template>
  <div class="grid">
        <div class="text"><h2>Log in or sign up for intenships and bachelor theses at NTNU Gjøvik</h2></div>
        <div class="login"><button>Log in</button></div>
        <div class="signin"><button>Sign up</button></div>
        <div class="icon"><img src="../../../IMG/ntnu_logo_icon.png" alt="NTNU logo icon"></div>
        <div class="full"><img src="../../../IMG/ntnu_logo_full.png" alt="NTNU logo full"></div>
  </div>
</template>

<script>
export default {
  name: 'StartPage',
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/* .grid {
 /*  display: grid;
/*   grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto auto auto; 
  grid-template-areas:
  'blank blank blank blank blank'
  'text text blank image image'
  'buttons buttons blank image image'
  'butttons buttons blank image image';
  grid-gap: 10px;
}

.text {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-area: 
}

.full img{
  text-align: right;
  max-width: 50%;
  grid-area: image;
}

.icon img{
  max-width: 5%;
} */

</style>
