<template>
  <div id="app">
    <StartPage></StartPage>
    <InternCompaniesListComp></InternCompaniesListComp>
  </div>
</template>

<script>
import InternCompaniesListComp from "./components/InternCompaniesListComp"
import StartPage from './components/StartPage.vue';

export default {
  name: 'App',
  components: {
    StartPage,
    InternCompaniesListComp
    
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
